{% comment %} @SPK@include("partials/mainhead.html") {% endcomment %}
{% include "../../partials/mainhead.html"%}
</head>

<body>

    {% comment %} @SPK@include("partials/switcher.html") {% endcomment %}
    {% include "../../partials/switcher.html" %}
    <div class="page">
        {% comment %} @SPK@include("partials/header.html") {% endcomment %}
        {% include "../../partials/header.html"%}
        {% comment %} @SPK@include("partials/sidebar.html") {% endcomment %}
        {% include "../../partials/sidebar.html" %}
        <!-- Start::app-content -->
        <div class="main-content app-content">

            <!-- HTML structure for displaying submitted users and their questions -->
            <div id="submitted-users-container mt-4">
                <h2>Submitted Questions Users</h2>
                <table class="table text-center mb-5">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Total Questions</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="submitted-users-list"></tbody>
                </table>
            </div>


            <div id="reviewed-users-container">
                <h2>Approved Questions Users</h2>
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Total Questions</th>
                            <th>Reviewer</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="reviewed-users-list"></tbody>
                </table>
            </div>

        
            

            
        </div>
        <!-- End::app-content -->

        {% comment %} @SPK@include("partials/headersearch_modal.html") {% endcomment %}
        {% include "../../partials/headersearch_modal.html"%}
        {% comment %} @SPK@include("partials/footer.html") {% endcomment %}
        {% include "../../partials/footer.html" %}
    </div>

    {% comment %} @SPK@include("partials/commonjs.html") {% endcomment %}
    {% include "../../partials/commonjs.html"%}

    {% comment %} @SPK@include("partials/custom_switcherjs.html") {% endcomment %}
    {% include "../../partials/custom_switcherjs.html"%}
    <!-- Custom JS -->
    <script src="../../../../static/assets/js/custom.js"></script>

    <!-- My exam js -->
     <script src = "../../../../static/Js/questionJs/admin_qu_review.js"></script>


</body>

</html>