{% comment %} @SPK@include("partials/mainhead.html") {% endcomment %}
{% include "../partials/mainhead.html"%}
</head>

<body>
    {% load static %}
    {% comment %} @SPK@include("partials/switcher.html") {% endcomment %}
    {% include "../partials/switcher.html" %}
    <div class="page">
        {% comment %} @SPK@include("partials/header.html") {% endcomment %}
        {% include "../partials/header.html"%}
        {% comment %} @SPK@include("partials/sidebar.html") {% endcomment %}
        {% include "../partials/sidebar.html" %}
        <!-- Start::app-content -->
        <div class="main-content app-content">

            <div class="container my-5">
                <div class="card shadow-lg mx-auto" style="max-width: 100%">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Available Exams</h2>
                        <div class="row p-4" id="exams-list"></div>
                    </div>
                </div>
            </div>
            
        

            
        </div>
        <!-- End::app-content -->

        {% comment %} @SPK@include("partials/headersearch_modal.html") {% endcomment %}
        {% include "../partials/headersearch_modal.html"%}
        {% comment %} @SPK@include("partials/footer.html") {% endcomment %}
        {% include "../partials/footer.html" %}
    </div>

    {% comment %} @SPK@include("partials/commonjs.html") {% endcomment %}
    {% include "../partials/commonjs.html"%}

    {% comment %} @SPK@include("partials/custom_switcherjs.html") {% endcomment %}
    {% include "../partials/custom_switcherjs.html"%}
    <!-- Custom JS -->
    <script src="../../../static/assets/js/custom.js"></script>

    <!-- My exam js -->
    <script src = "../../../static/Js/exam_list.js"></script>
    <script>
        const details_icon = "{% static 'images/icons/details.png' %}";
        const share_icon = "{% static 'images/icons/share.png' %}";
    </script>

</body>

</html>