{% comment %} @SPK@include("partials/mainhead.html") {% endcomment %}
{% include "../partials/mainhead.html"%}

</head>

<body>

    {% comment %} @SPK@include("partials/switcher.html") {% endcomment %}
    {% include "../partials/switcher.html" %}
    <div class="page">
        {% comment %} @SPK@include("partials/header.html") {% endcomment %}
        {% include "../partials/header.html"%}
        {% comment %} @SPK@include("partials/sidebar.html") {% endcomment %}
        {% include "../partials/sidebar.html" %}
        <!-- Start::app-content -->
        <div class="main-content app-content">

            <div class="d-flex my-4 mx-4">
                <button onclick="history.back()" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back
                </button>
            </div>
            
            <div class="container mt-5">
                <h1 class="text-center mb-4">Leaderboard</h1>
                <div class="card custom-card p-4">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Top 10 Scorers
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Score</th>
                                </tr>
                            </thead>
                            <tbody id="leaderboard">
                                <!-- Leaderboard rows will be inserted here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            

            <!-- MY custom macq-->



            
        </div>
        <!-- End::app-content -->

        {% comment %} @SPK@include("partials/headersearch_modal.html") {% endcomment %}
        {% include "../partials/headersearch_modal.html"%}
        {% comment %} @SPK@include("partials/footer.html") {% endcomment %}
        {% include "../partials/footer.html" %}
    </div>

    {% comment %} @SPK@include("partials/commonjs.html") {% endcomment %}
    {% include "../partials/commonjs.html"%}

    {% comment %} @SPK@include("partials/custom_switcherjs.html") {% endcomment %}
    {% include "../partials/custom_switcherjs.html"%}
    <!-- Custom JS -->
    <script src="../../../static/assets/js/custom.js"></script>

    <!-- My exam js -->
     <script src = "../../../static/Js/leaderboard.js"></script>


</body>

</html>